In [96]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [168]:
def dateDiff(date1, date2):
    if date1 > date2:
        difDays = datetime.datetime.strptime(date1, "%Y-%m-%d") - datetime.datetime.strptime(date2, "%Y-%m-%d")
    else:
        difDays = datetime.datetime.strptime(date2, "%Y-%m-%d") - datetime.datetime.strptime(date1, "%Y-%m-%d")
    return difDays.days

In [229]:
def monthDiff(date1, date2):
    date1 = datetime.datetime.strptime(date1, "%Y-%m-%d") 
    date2 = datetime.datetime.strptime(date2, "%Y-%m")
    months = (date1.year - date2.year) * 12 + date1.month - date2.month
    return months

In [228]:
MonthDiff("2018-07-09", "2017-07")

12

In [28]:
dateDiff("2018-07-09", "2018-07-09")

0

In [14]:
BASE_PATH = "~/Downloads/kaggle/paipaidai/data/"
train_data = pd.read_csv(BASE_PATH + "train.csv", na_values="\\N")
test_data = pd.read_csv(BASE_PATH + "test.csv", na_values="\\N")

In [15]:
train_data.shape, test_data.shape

((1000000, 7), (130000, 5))

In [17]:
train_data['repay_amt'].isnull().sum()

117192

In [65]:
sub_train_data = train_data[~ train_data.repay_date.isnull()]

In [41]:
sub_train_data.dtypes

user_id            int64
listing_id         int64
auditing_date     object
due_date          object
due_amt          float64
repay_date        object
repay_amt        float64
dtype: object

In [66]:
sub_train_data['diff_date'] = sub_train_data.apply(lambda row:dateDiff(row['due_date'], row['repay_date']), axis=1)
sub_train_data['diff_amt'] = sub_train_data.apply(lambda row:row['repay_amt'] - row['due_amt'], axis=1)

/Users/lkjin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/lkjin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [76]:
def audit_order(sub_train_data):
    sub_train_data = sub_train_data.sort_values(['user_id', 'listing_id'])
    sub_train_data['group_rank'] = sub_train_data[["user_id", "listing_id"]].groupby(["user_id"]).rank(method="min")
    return sub_train_data

In [193]:
test_min = test_data.listing_id.min()
train_max = sub_train_data.listing_id.max()
data = pd.concat([sub_train_data[list(test_data.columns)], test_data])
new_data = audit_order(data)
new_data.shape

(1012808, 6)

In [194]:
listing_info = pd.read_csv(BASE_PATH + "listing_info.csv", na_values="\\N")
new_data = new_data.merge(listing_info, on=['user_id', 'listing_id', 'auditing_date'], how="inner")
new_data.shape

(1012808, 9)

In [196]:
user_info = pd.read_csv(BASE_PATH + "user_info.csv", na_values="\\N")
new_data = new_data.merge(user_info, on=["user_id"], how="left")

new_data['diff_days'] = new_data.apply(lambda row: dateDiff(row['auditing_date'], row['insertdate']), axis=1)
new_data['diff_min'] = new_data.groupby("listing_id")['diff_days'].transform("min")

new_data = new_data[(new_data['diff_days'] == new_data['diff_min'])].sort_values(['listing_id', 'insertdate']).drop_duplicates("listing_id")
new_data.shape

In [219]:
new_data.head()

,user_id,listing_id,auditing_date,due_date,due_amt,group_rank,term,rate,principal,reg_mon,gender,age,cell_province,id_province,id_city,insertdate,diff_days,diff_min
507476,438081,1873193,2018-01-01,2018-02-01,97.3003,1.0,9,7.2,850,2017-03,女,34,c28,c28,c28005,2017-12-31,1,1
790711,679097,1873199,2018-01-01,2018-02-01,200.8172,1.0,6,7.2,1180,2017-10,男,23,c04,c25,c25121,2017-12-31,1,1
579416,498924,1873205,2018-01-01,2018-02-01,226.6526,1.0,9,7.2,1980,2017-05,女,26,c06,c06,c06266,2017-12-31,1,1
394198,342463,1873207,2018-01-01,2018-02-01,125.9181,1.0,9,7.2,1100,2016-12,男,22,c31,c31,c31255,2017-12-31,1,1
341889,297792,1873212,2018-01-01,2018-02-01,163.3767,1.0,6,7.2,960,2016-10,女,28,c27,c27,c27330,2017-12-31,1,1

In [220]:
features = ['due_amt', 'group_rank', 'term', 'rate', 'principal']

In [ ]:
# 用户注册时间和成交时间相隔月数
new_data['use_month'] = new_data.apply(lambda row:monthDiff(row['auditing_date'], row['reg_mon']), axis=1)